<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>About Me</h1>
    </div>
  </header>

  <main>
    <div class="container">
      <p>This is kuhhhckr. I've loved programming since I was 15 years old and now I want to be a CTO in a reputable company.</p>
      <a href="/">Go back to the home page</a>
    </div>
  </main>

  <footer>
    <div class="container">
      &copy; Kuhhhckr and StuckUp to Back End Programming with NodeJS
    </div>
  </footer>
  
</body>
</html>